body {
  /* height: 100vh; */
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81361d59-fd6c-4693-b198-a40e0e5795fd/dg3vuog-1564dd41-6085-4d05-9235-916607267ee2.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgxMzYxZDU5LWZkNmMtNDY5My1iMTk4LWE0MGUwZTU3OTVmZFwvZGczdnVvZy0xNTY0ZGQ0MS02MDg1LTRkMDUtOTIzNS05MTY2MDcyNjdlZTIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.oTxH0XDjwQb7ZKyvj3kA6TnpjXjjzE3I66Dx1feZ8uc");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
